body {
        margin: 0;
        font-family: Arial, sans-serif;
    }

    /* NAVBAR */
    .navbar {
        display: flex;
        justify-content: space-between;
        align-items: center;
        background: #0d6efd;  /* Hospital blue */
        padding: 10px 20px;
        color: white;
    }

    .navbar .logo {
        font-size: 22px;
        font-weight: bold;
    }

    .navbar ul {
        list-style: none;
        display: flex;
        margin: 0;
        padding: 0;
        gap: 20px;
    }

    .navbar ul li a {
        text-decoration: none;
        color: white;
        font-size: 16px;
    }

    .navbar ul li a:hover {
        text-decoration: underline;
    }

    /* Mobile */
    @media(max-width: 600px) {
        .navbar ul {
            display: none; /* hide menu in small screen */
        }
    }