{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Hospital Navbar</title>
<link rel="stylesheet" href="{% static "css/header.css" %}" > 

</head>
<body>

<div class="navbar">
    <div class="logo">🏥 City Hospital</div>

    <ul>
        <li><a href="/">Home</a></li>
        <li><a href="doctors">Doctors</a></li>
        <li><a href="department">Departments</a></li>
        <li><a href="appointment">Appointments</a></li>
        <li><a href="contact">Contact</a></li>
    </ul>
</div>


</body>
</html>
